@import '../../styles/variables.scss';

.container {
    width: 100%;
    height: fit-content;
    background-color: $P-DBlue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo {
        width: 100px;
        height: 100px;
    }

    h1 {
        margin: 0em;
        margin-right: .7em;
        cursor: pointer;
    }
}