@import './variables.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120vh;

    h3 {
        margin-top: .5em;
        background-color: $B-Blue;
    }

    .noBckg{
        color: $P-DBlue;
        background-color: transparent;
    }
}