@import './variables.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // height: 120vh;

    h2,p,h3{
        margin: 0.5em 0em;
    }

    h3 {
        background-color: $B-Blue;
    }

    .noBckg{
        color: $P-DBlue;
        background-color: transparent;
    }

    .buttons{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .button{
            margin: 1em 0em;
        }
    }
}