@import '../styles/variables.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2,.results{
        margin-bottom: 1.5em;
    }

    .results{
        width: 100%;
        border-bottom: 2px solid $P-DBlue;
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        h3{
            width: fit-content;
            text-align: left;
            color: $P-DBlue;
        }
        span{
            font-size: 1.3em;
            align-self: flex-end;
        }
    }

    .list{
        padding-left: 0em;

        .item{
            padding: .3em 10%;
            text-align: center;
            font-size: 2em;
            list-style: none;
            font-weight: 700;
            align-self: center;

            &:nth-child(2n){
                color: $S-LBlue;
                background-color: $B-Blue;
            }            
        }

        .row{
            margin-top: 0em;
            padding: 1em;
            justify-content: space-between;

            &:nth-child(2n){
                color: $S-LBlue;
                background-color: $B-Blue;
            }

            li{
                list-style: none;
                font-weight: 700;
                text-align: left;
                max-width: 50%;
                align-self: center;

                &:nth-child(2){
                    text-align: right;
                }
            }

            .pos{
                color: green;
            }

            .neg{
                color: red;
            }
        }
    }

    Button{
        align-self: center;
    }

    .row{
        margin-top: 2em;
        display: flex;
        justify-content: space-evenly;
    }
}