@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,600;0,700;1,600&display=swap');

//Colors

$B-Yellow : #F7AA00;
$B-Blue : #40A8C4;
$P-DBlue : #235784;
$S-LBlue : #BCDBDF;
$White : #EEEEEE;